body {
  overflow-x: hidden;
  font-size: 0.85rem;
  background: #EBEBEB;
  color: #4E5D6C;
}

a{
    color: #2B3E50;
}
.form-control{
    font-size: 0.8rem;
}

.break{
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

.btn{
    font-size: 0.8rem;
}

.dropdown-menu{
    font-size: 0.85rem;
}

/* Wrapper */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container-fluid{
    width: 70%;
    margin-left: inherit;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #2B3E50;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #EBEBEB;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.logo {
    max-width: 230px;
    margin:20px;
}
.language {
    float: right;
}

.calibration {
    margin-left:10px;
    margin-top:10px;
}

/* Forensic Styles */
.card {
    font-size: 0.83rem;
    color: #222;
    background: #efefef;
}

#tdmtable {
    font-size:0.7rem;
    line-height:0.7;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}

#resulttable {
    font-size:0.8rem;
}

#file_selector{
    max-width: 550px;
    margin-bottom: 3px;
    font-size: 0.8rem;
}
#save_selector{
    max-width: 550px;
    font-size: 0.8rem;
}
#mask_selector{
    max-width: 550px;
    font-size: 0.8rem;
    margin-bottom:10px;
}

#table_hr{
    margin: 0px;
}


/* Media Styles */
@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
